{% extends "end_user_base_template/dashboard.html" %}

{% block title %}
    Purchase Request Form
{% endblock title %}

{% block main-content %}
    <main class="content">
        <h1 style="text-align: center;">Procurable Purchase Request Form</h1>
        <!-- Purchase Request Form -->
        <section class="purchase-form">
            <h2>Fill out Headings</h2>
            {% comment %} <form method="POST" action="{% url 'purchase_request' %}"> {% endcomment %}
            <form method="post">
                {% csrf_token %}
                
                <div>
                    <label for="entity_name">Entity Name:</label>
                    <input type="text" id="entity_name" name="entity_name" required>
                </div>

                <div>
                    <label for="fund_cluster">Fund Cluster:</label>
                    <input type="text" id="fund_cluster" name="fund_cluster" required>
                </div>

                <div>
                    <label for="office_section">Office/Section:</label>
                    <input type="text" id="office_section" name="office_section" required>
                </div>

                <div>
                    <label for="pr_no">PR No:</label>
                    <input type="text" id="pr_no" name="pr_no" required>
                </div>

                <div>
                    <label for="responsiblity_center_code">Responsiblity Center Code:</label>
                    <input type="text" id="responsiblity_center_code" name="responsiblity_center_code" required>
                </div>

                <div class="purpose">
                    <label for="purpose">Purpose:</label>
                    <textarea id="purpose" name="purpose" rows="4" required></textarea>
                </div>

                <div class="form-button">
                    <button type="submit">Done</button>
                </div>
                <br>
                {% if messages %}
                    {% for message in messages %}
                        <p style="color: red;">{{ message }}</p>
                    {% endfor %}
                {% endif %}
            </form>
        </section>

        {% comment %} Add Item Form {% endcomment %}
        <section class="purchase-form">
            <h2>Fill out Items</h2>
            
            <form action="" method="post">
                {% csrf_token %}

                <div>
                    <label for="stock_property_no">Stock Property No:</label>
                    <input type="text" name="stock_property_no" id="stock_property_no" required>
                </div>
                <div>
                    <label for="unit">Unit:</label>
                    <input type="text" name="unit" id="unit" required>
                </div>
                <div>
                    <label for="item_description">Item Description:</label>
                    <input type="text" name="item_description" id="item_description" required>
                </div>
                <div>
                    <label for="quantity">Quantity:</label>
                    <input type="text" name="quantity" id="quantity" required>
                </div>
                <div>
                    <label for="unit_cost">Unit Cost:</label>
                    <input type="text" name="unit_cost" id="unit_cost" required>
                </div>

                <div class="add_item_btn">
                    <button type="submit">Add Item</button>
                </div>
            </form>
        </section>
        

        <!-- Purchase Request Items Table -->
        <section class="purchase-requests">
            <h2>Items Requested</h2>
            <div class="headings">
                <p><strong>Entity Name: </strong>Sample Entity Name</p>
                <p><strong>Fund Cluster: </strong>Sample Fund Cluster</p>
                <p><strong>Office/Section: </strong>Sample Office</p>
                <p><strong>PR No.: </strong>PR-001</p>
                <p><strong>Responsibility Center Code: </strong>Sample Data</p>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>Stock/Property No</th>
                        <th>Unit</th>
                        <th>Item Description</th>
                        <th>Quantity</th>
                        <th>Unit Cost</th>
                        <th>Total Cost</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in purchase_items %}
                        <tr>
                            <td>{{ item.stock_property_no }}</td>
                            <td>{{ item.unit }}</td>
                            <td>{{ item.item_description }}</td>
                            <td>{{ item.quantity }}</td>
                            <td>{{ item.unit_cost }}</td>
                            <td>{{ item.total_cost }}</td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="6">No items added yet.</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="purpose">
                <p><strong>Purpose: </strong>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum mollitia magni iusto ex facere? Sit, ipsa sunt eveniet eaque, unde quidem veniam commodi aspernatur ipsam incidunt tempore qui, pariatur maiores?</p>
            </div>
        </section>

        <form action="" method="post">
            {% csrf_token %}
            <div class="submit_pr_button">
                <button type="submit">Submit Purchase Request</button>
            </div>
        </form>
    </main>
{% endblock main-content %}