{% extends "end_user_base_template/dashboard.html" %}

{% block title %}
    Purchase Requests
{% endblock title %}

{% block main-content %}
    <main class="content">
        <header>
            <h1>Purchase Requests</h1>
            <p>Track and manage your department's purchase requests.</p>
        </header>

        <!-- New Purchase Request Button -->
        <section class="new-request">
            <div class="new-request-container">
                <h2>Create a Request:</h2>
                <p>Select a form:</p>
                <div class="buttons">
                    <button class="new-request-btn" onclick="window.location.href = '{% url "purchase_request_form" %}'">Procurement PR</button>
                    <button class="new-request-btn" >Non-Procurement AD</button>
                </div>
            </div>
        </section>

        <!-- Purchase Requests Table -->
        <section class="purchase-requests">
            <h2>Recent Purchase Requests</h2>
            <table>
                <thead>
                    <tr>
                        <th>PR No.</th>
                        <th>Entity Name</th>
                        <th>Fund Cluster</th>
                        <th>Office/Section</th>
                        <th>Date Requested</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for purchase in purchase_requests %}
                        <tr>
                            <td>{{ purchase.pr_no }}</td>
                            <td>{{ purchase.entity_name }}</td>
                            <td>{{ purchase.fund_cluster }}</td>
                            <td>{{ purchase.office_section }}</td>
                            <td>{{ purchase.created_at }}</td>
                            <td>{{ purchase.submitted_status }}</td>
                            <td><button class="view-btn">View Details</button></td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="6">No purchase requests found.</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
    </main>
{% endblock main-content %}