{% extends "admin_base_template/dashboard.html" %}

{% block title %}
    Department's Request
{% endblock  %}

{% block main-content %}
<main class="content">
    <header class="dashboard-header">
        <h1>Department's Requests</h1>
        <p>Manage and approve department purchase requests.</p>
    </header>

    <!-- Requests Table -->
    <section class="requests">
        <header>
            <h2>Pending Department Requests</h2>
            <p>Review and process requests from various departments.</p>
        </header>

        <table>
            <thead>
                <tr>
                    <th>Request ID</th>
                    <th>Department</th>
                    <th>Item</th>
                    <th>Amount</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for user_request in users_purchase_requests %}
                    <tr>
                        <td>{{ user_request.id }}</td>
                        {% comment %} Changed the user into department {% endcomment %}
                        <td>{{ user_request.user.department }}</td>
                        <td>{{ user_request.item_name }}</td>
                        <td>&#8369;{{ user_request.amount }}</td>
                        {% if user_request.status == "Pending" %}
                            <td><span class="status pending">Pending</span></td>
                            <td>
                                <form action="{% url "handle_purchase_request" user_request.id %}" method="post">
                                    {% csrf_token %}
                                    <button type="submit" name="action" value="approve" class="approve-btn">Approve</button>
                                    <button type="submit" name="action" value="reject" class="reject-btn">Reject</button>
                                </form>
                            </td>
                        {% endif %}
                        {% if user_request.status == "Approved" %}
                            <td><span class="status approved">Approved</span></td>
                            <td>
                                <button class="disabled-btn" disabled>Approved</button>
                            </td>
                        {% endif %}
                        {% if user_request.status == "Rejected" %}
                            <td><span class="status rejected">Rejected</span></td>
                            <td>
                                <button class="rejected-btn" disabled>Rejected</button>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
</main>
{% endblock  %}