* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2c3e50;
}

label{
    color: #625b5b;
}

.form {
    width: 300px;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.signup-form{
    width: 350px;
}

.form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.mfo-1{
    color: #625b5b;
    font-size: 0.9rem;
    padding: 5px 0;
    margin-bottom: 10px;
    text-align: left;
    margin-left: 10px;
}

.mfo-1 p{
    margin-bottom: 5px;
}

.mfo-1 input{
    margin-left: 10px;
}


.form input[type="text"], .form input[type="password"], .form input[type="email"] {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form input[type="text"]:focus, .form input[type="password"]:focus, .form input[type="email"]:focus {
    border-color: #aaa;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form button[type="submit"] {
    width: 100%;
    height: 40px;
    background-color: #486d91;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form button[type="submit"]:hover {
    background-color: #2c3e50;
}

.form p {
    text-align: left;
    margin-top: 0;
}


.form a {
    text-decoration: none;
    color: #486d91;
}

.form a:hover {
    color: #2c3e50;
}

.redirect p{
    text-align: center;
    margin-top: 10px;
}

/* Responsive design */
@media screen and (max-width: 768px) {
    .form {
        width: 90%;
    }
}

@media screen and (max-width: 480px) {
    .form {
        width: 100%;
        padding: 10px;
    }
    .form input[type="text"], .form input[type="password"] {
        height: 30px;
        margin-bottom: 10px;
    }
    .form button[type="submit"] {
        height: 30px;
    }
}